*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "IBM Plex Serif", serif;
}

button {
  cursor: pointer;
  font-family: "IBM Plex Serif", serif;
  font-size: 1em;
}

/*
      ___       __   ___  __
|__| |__   /\  |  \ |__  |__)
|  | |___ /~~\ |__/ |___ |  \

*/

header {
  /* margin: 20px 100px; */
  margin: 20px;
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 20px;
}

.title {
  margin: 0;
  margin-top: -3px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav__items {
  margin: 0;
  display: flex;
  margin-left: 25px;
}

.nav__item button {
  border: 0;
  padding: 10px;
  background: none;
}

.nav__item > button:hover,
.nav__item--open > button {
  background-color: #eee;
}

.nav__dropdown {
  position: absolute;
  display: none;
  z-index: 5;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.nav__item--open .nav__dropdown {
  display: block;
}

.nav__dropdown .nav__dropdown-item button {
  display: block;
  width: 100%;
  text-align: left;
  background-color: #eee;
}

.nav__dropdown .nav__dropdown-item button:hover {
  background-color: #ccc;
}

/*

 |\/|  /\  | |\ |
 |  | /~~\ | | \|

*/

main {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: auto 1fr;
  /* margin: 0 100px; */
  margin: 0 20px;
  gap: 20px;
}

h2.filename {
  grid-column: 2 / span 2;
  padding-left: 35px;
}

.filename-ext {
  color: #aaa;
}

.toc {
  grid-row: 2;
}

.toc__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toc__item button {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: 0;
  background: none;
}

.toc__item button:hover {
  background-color: #eee;
}

.current button {
  background-color: #eee;
}

.CodeMirror {
  height: 100%;
  font-family: "IBM Plex Serif", serif;
}

.output {
  font-family: "IBM Plex Mono", monospace;
}

/*
 ___  __   __  ___  ___  __
|__  /  \ /  \  |  |__  |__)
|    \__/ \__/  |  |___ |  \

*/

footer {
  /* margin: 20px 100px; */
  margin: 20px;
}
